{% for year, posts in postlist | groupByYear %}
<h2>{{ year }}</h2>
  {% if (posts.length) > 1  %}
  <div class="meta">({{ posts.length }} posts)</div>
  {% else %}
  <span class="meta">({{ posts.length }} post)</span>
  {% endif %}
<ol reversed class="post-list">
{% for post in posts %}
  <li class="post h-entry{% if post.url == url %} postlist-item-active{% endif %}">
    <h3 class="title p-name">
      <a href="{{ post.url | url }}" class="post-link">
        {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
      </a>
    </h3>
    <div class="meta">
      Published on
      <time class="date dt-published" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </div>
    {% if post.data.description %}
    <p class="post-excerpt">{{ post.data.description }}</p>
    {% endif %}
  </li>
{% endfor %}
</ol>
{% endfor %}
