<div>
  <small>
    &copy; {% copyrightDates 2009 %}, {{ metadata.author.name }}.
  </small>
</div>
<div>
  <nav class="site-info-navigation" aria-label="Site information">
    <ul class="nav">
      <li><small><a href="/accessibility/">Accessibility statement</a></small></li>
      <li><small><a href="/colophon/">Colophon</a></small></li>
      <li><small><a href="#masthead">Back to top</a></small></li>
    </ul>
  </nav>
</div>
