<footer id="colophon" class="site-footer wrapper">
  <nav class="site-navigation" aria-label="Site">
    <ul class="nav">
      <li class="nav-item">
        <a href="{{ '/' | url }}">Home</a> 
      </li>
      <li class="nav-item">
        <a href="{{ '/about/' | url }}">About</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/blog/' | url }}">Blog</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/projects/' | url }}">Projects</a>
      </li>
    </ul>
  </nav>
  <small>&copy; {% copyrightDates 2009 %}, {{ metadata.author.name }}</a>.</small>
</footer>
