<p>&copy; {% copyrightDates 2009 %}, {{ metadata.author.name }}.</p>
<nav class="site-info-navigation" aria-label="Site information">
  <ul class="nav">
    <li><a href="/accessibility/">Accessibility statement</a></li>
    <li><a href="/colophon/">Colophon</a></li>
    <li><a href="#masthead">Back to top</a></li>
  </ul>
</nav>
