<div class="h-card">
  <p class="p-note">Hi there! I'm <span class="p-name">David A. Kennedy</span>, but my friends call me <span class="p-nickname">DK</span>. I work as a Managing Senior UX Designer at <a href="https://adhoc.team/">Ad Hoc</a>, focusing on inclusive design, accessibility and people management. You can reach me <a class="u-email" href="mailto:me@davidakennedy.com">at the usual place</a> and find out more <a class="u-url u-uid" href="{{ '/' | url }}">about me on this site</a>.</p>
</div>