<div class="h-card">
  {% img "", "", "47028035001_00d8d35d24_o.jpg", "David A. Kennedy speaks on a stage in front of audience.", "" %}
  <p class="intro">
    Hi there! I'm <span class="p-name">David A. Kennedy</span>, but my friends call me <span class="p-nickname">DK</span>. I work as a Senior UX Designer at <a href="https://adhocteam.us/">Ad Hoc</a>, focusing on accessibility. You can reach me at <a class="u-email" href="mailto:me@davidakennedy.com">me@davidakennedy.com</a> and
    find out more <a class="u-url" href="{{ '/about/' | url }}">about me</a>.
  </p>
</div>