<div class="breadcrumbs">
  <p class="meta">The personal website of David A. Kennedy.</p>
</div>
{% img "", "u-photo", "david-kennedy-portrait-2018-square.jpg", "David A. Kennedy.", "", 50, 50, "" %}
