<div class="breadcrumbs">
  <p class="meta">The personal website of David A. Kennedy.</p>
</div>
<img class="u-photo" src="/assets/img/uploads/david-kennedy-portrait-2018-square-small.jpg" alt="David A. Kennedy." width="50" height="50">
