{% set navBreadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
{% if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent %}
<nav class="meta" aria-label="Breadcrumbs">
  {{ navBreadcrumbs | eleventyNavigationToHtml({listClass: "breadcrumbs"}) | safe }}
</nav>
{% else %}
<p class="meta">Welcome to the interior pages.</p>
{% endif %}
<img class="u-photo" src="/assets/img/uploads/david-kennedy-portrait-2018-square.jpg" alt="David A. Kennedy." width="50" height="50">
