<p>
  <a href="{{ '/' | url }}" class="site-title">{{ metadata.title }}</a>
</p>
<nav class="site-navigation" aria-label="Site">
  <ul class="nav">
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a {% if entry.url == page.url %}aria-current="page"{% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a></li>
    {%- endfor %}
  </ul>
</nav>
