<header id="masthead" class="site-header wrapper">
  <nav class="site-navigation" aria-label="Site">
    <ul class="nav">
      {%- for nav in collections.nav -%}
      <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
        <a href="{{ nav.url | url }}">
          {{ nav.data.navtitle }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>
