<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }} | {{ metadata.title }}</title>
  {% include "partials/meta.njk" %}
  {% include "partials/seo.njk" %}
  {% set css %}
    {% include "css/style.css" %}
  {% endset %}
  <style rel="stylesheet">
    {{ css | cssmin | safe }}
  </style>
</head>
