<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }} | {{ metadata.title }}</title>
  {% include "partials/meta.njk" %}
  {% include "partials/seo.njk" %}
  {% set css %}
    {% include "css/fonts.css" %}
    {% include "css/reset.css" %}
    {% include "css/utils.css" %}
    {% include "css/elements.css" %}
    {% include "css/navigation.css" %}
    {% include "css/header.css" %}
    {% include "css/main.css" %}
    {% include "css/footer.css" %}
    {% include "css/prism-base16-monokai.dark.css" %}
  {% endset %}
  <style rel="stylesheet">
    {{ css | cssmin | safe }}
  </style>
</head>
