<!-- Feed -->
<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#111111">
<meta name="msapplication-TileColor" content="#111111">
<meta name="theme-color" content="#ffffff">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<!-- IndieWeb -->
<link rel="me" href="https://github.com/davidakennedy" />
