<form action="https://duckduckgo.com/" method="get" id="search-form">
  <label for="search-input">
    Enter search terms for DuckDuckGo
  </label>
  <div class="inline-field-control">
    <input type="search" name="q" id="search-input" />
    <input type="hidden" name="sites" value="davidakennedy.com" />
    <button type="submit" id="search-submit" class="button">Search</button>
  </div>
</form>

