<nav class="site-info-navigation" aria-label="Site information">
  <ul class="nav">
    <li><a href="{{ '/accessibility/' | url }}">Accessibility statement</a></li>
    <li><a href="{{ '/colophon/' | url }}">Colophon</a></li>
    <li><a href="{{ '/feed/' | url }}">RSS</a></li>
  </ul>
</nav>
