<nav class="site-info-navigation" aria-label="Site Info">
  <ul class="nav">
    <li class="nav-item">
      <a href="mailto:me@davidakennedy.com">Contact</a> 
    </li>
    <li class="nav-item">
      <a href="{{ '/accessibility/' | url }}">Accessibility</a>
    </li>
    <li class="nav-item">
      <a href="{{ '/colophon/' | url }}">Colophon</a>
    </li>
  </ul>
</nav>