<nav class="site-navigation" aria-label="Site">
  <ul class="nav">
    <li><a href="{{ '/about/' | url }}">About</a></li>
    <li><a href="{{ '/blog/' | url }}">Blog</a></li>
    <li><a href="{{ '/projects/' | url }}">Projects</a></li>
  </ul>
</nav>
