<nav class="site-navigation" aria-label="Site">
  <ul class="nav">
    <li><a href="/about/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/projects/">Projects</a></li>
  </ul>
</nav>
