<nav class="site-info-navigation" aria-label="Site information">
  <ul class="nav">
    <li class="nav-item">
      <a href="{{ '/accessibility/' | url }}">Accessibility statement</a>
    </li>
    <li class="nav-item">
      <a href="{{ '/colophon/' | url }}">Colophon</a>
    </li>
    <li class="nav-item">
      <a href="{{ '/feed/' | url }}">RSS</a>
    </li>
  </ul>
</nav>
