{% set navLinks = collections.all | eleventyNavigation %}
{% if navLinks.length > 0 %}
  <nav>
    <ul class="nav">
    {%- for entry in navLinks %}
      <li class="nav-item">
        <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>
          {{ entry.title }}
        </a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
{% endif %}
