/* Post Navigation */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination a {
  display: inline-block;
  padding: var(--space-xxsmall);
}

.email-signup svg,
.pagination svg {
  vertical-align: middle;
}

/* Post list */
.post-list {
  list-style: none;
}

.stack > .post-list {
  margin-top: 0;
}

.post-list + .year-number {
  margin-top: var(--space-xxxxlarge);
}

.year-number {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xxxxsmall);
}

.year-number .meta {
  align-self: center;
}

.post-list > * + * {
  margin-top: var(--space-xxlarge);
}

.post-list .post-excerpt {
  margin-top: var(--space-xsmall);
}
