/* Reset-ish */
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Variables */
:root {
  /* Colors: https://reasonable.work/colors/ */
  /* white */
  --color-white: #ffffff;

  /* aquamarine */
  --color-aquamarine-1: #daffef;
  --color-aquamarine-2: #42ffc6;
  --color-aquamarine-3: #009f78;
  --color-aquamarine-4: #007f5f;
  --color-aquamarine-5: #004734;
  --color-aquamarine-6: #00281b;

  /* gray */
  --color-gray-1: #f6f6f6;
  --color-gray-2: #e2e2e2;
  --color-gray-3: #8b8b8b;
  --color-gray-4: #6f6f6f;
  --color-gray-5: #3e3e3e;
  --color-gray-6: #222222;

  /* indigo */
  --color-indigo-1: #f3f3ff;
  --color-indigo-2: #deddff;
  --color-indigo-3: #657eff;
  --color-indigo-4: #0061fc;
  --color-indigo-5: #00328a;
  --color-indigo-6: #001649;

  /* orange */
  --color-orange-1: #fff8f5;
  --color-orange-2: #ffded1;
  --color-orange-3: #fd4d00;
  --color-orange-4: #cd3c00;
  --color-orange-5: #752100;
  --color-orange-6: #401600;

  /* Fonts */
  --serif: Charter, "Bitstream Charter", "Sitka Text", Georgia, serif;
  --sans-serif: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  --mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;

  /* Space */
  --space-xsmall: 0.375rem;
  --space-small: 0.75rem;
  --space: 1.5rem;
  --space-large: 3rem;
  --space-xlarge: 4.5rem;

  /* Some styles */
  background-color: var(--color-white);
  color: var(--color-gray-6);
  font-family: var(--serif);
  font-size: 1.25rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
}

/* Utilities */
/* Accessibility utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* Stack utility
   every-layout.dev */
.stack > * + * {
  margin-top: var(--space, 1.5rem);
}

.stack > h1 + *,
.stack > h2 + *,
.stack > h3 + *,
.stack > h4 + *,
.stack > h5 + *,
.stack > h6 + * {
  margin-top: 0.25rem;
}

/* Sidebar utility
   every-layout.dev */
.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xsmall);
}

.with-sidebar > :last-child {
  flex-basis: 33%;
  flex-grow: 1;
  margin-top: 0;
}

.with-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 66%;
}

/* Navigation utility */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
}

.nav li {
  margin: 0;
}

.nav a {
  padding: var(--space-xsmall);
}

.nav-item-active > a {
  font-weight: 700;
}

/* Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
}

figcaption {
  font-style: italic;
}

blockquote {
  border-left: 0.25rem solid var(--color-gray-3);
  font-style: italic;
  padding: 0 var(--space-xsmall);
}

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 700;
  margin-top: var(--space);
}

pre {
  border: 0.125rem solid var(--color-gray-2);
  border-radius: 0.1rem;
  font-family: var(--mono);
  font-size: 0.9rem;
  line-height: 1.2;
  margin: var(--space-xsmall) 0;
  max-width: 40rem;
  overflow: auto;
  padding: 1rem;
  white-space: pre-wrap;
}

code,
kbd,
var {
  font-family: var(--mono);
}

abbr {
  border-bottom: 1px dotted var(--color-gray-3);
  cursor: help;
}

small {
  font-size: 0.8rem;
}

table,
th,
td {
  border: 0.05rem solid var(--color-gray-2);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0.05rem 0 0 0.05rem;
  padding: 0 !important;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  font-weight: 700;
}

th,
td {
  border-width: 0 0.05rem 0.05rem 0;
  padding: 0.25rem;
}

hr {
  background-color: var(--color-gray-2);
  border: 0;
  height: 0.1rem;
}

ul,
ol {
  margin-left: var(--space);
  margin-top: 0;
  padding: 0;
}

ul > li,
ol > li {
  margin-top: var(--space-small);
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: var(--space);
}

figcaption {
  font-size: 0.8rem;
  margin-top: var(--space-xsmall);
}

img {
  box-shadow: 0 0 0 0.1rem var(--color-gray-1), 0 0 0 0.1rem var(--color-gray-3);
  display: block;
  height: auto;
  max-width: 100%;
}

.site-header img {
  border-radius: 50%;
}

mark {
  background-color: var(--color-orange-2);
  border-bottom: 0.05rem solid var(--color-orange-3);
  border-top: 0.05rem solid var(--color-orange-3);
}

a {
  color: var(--color-gray-5);
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--color-indigo-4);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.1rem;
}

a:hover {
  background-color: var(--color-indigo-4);
  color: #fff;
  outline: 0;
  text-decoration: none;
}

a:focus {
  background-color: var(--color-orange-4);
  color: var(--color-white);
  outline: 0.1rem solid var(--color-orange-3);
  outline-offset: 0.1rem;
  text-decoration: none;
}

a:active {
  outline: 0;
  top: 0.1rem;
}

.skip-link {
  font-size: 0.8rem;
  font-weight: 700;
  left: var(--space);
  padding: var(--space-xsmall);
  position: absolute;
  top: var(--space);
}

.skip-link.focusable:focus {
  position: absolute;
}

.image-link {
  display: block;
}

.image-link:focus {
  outline: 0.1rem solid var(--color-orange-3);
}

[tabindex="-1"]:focus {
  outline: 0;
}

/* Forms */
label {
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  background-color: inherit;
  border: 0.1rem solid var(--color-gray-3);
  border-radius: 0.1rem;
  padding: 0.25rem;
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: var(--color-gray-4);
  outline: 0.1rem solid var(--color-orange-3);
  outline-offset: 0.1rem;
}

textarea {
  padding-left: 0.25rem;
  width: 100%;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: inherit;
  border: 0.1rem solid var(--color-indigo-4);
  border-radius: 0.25rem;
  color: var(--color-gray-6);
  cursor: pointer;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  position: relative;
  -webkit-appearance: none;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: var(--color-indigo-4);
  color: var(--color-white);
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  top: 2px;
}

button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: var(--color-orange-4);
  border-color: var(--color-orange-4);
  color: var(--color-white);
  outline: 0.1rem solid var(--color-orange-4);
  outline-offset: 0.1rem;
}

/* Containers and spacing */
.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60rem;
  padding: var(--space-xlarge) 0;
}

.site-title {
  align-items: center;
  display: flex;
  padding: var(--space-xsmall);
  text-decoration: none;
}

.site-title .name {
  font-weight: 700;
  padding-left: var(--space-xsmall);
}

.site-header nav a {
  text-decoration: none;
}

.header img + *,
.content {
  margin-top: var(--space-small);
}

.header > *:not(img),
.content > *:not(img) {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  padding-left: var(--space-xsmall);
  padding-right: var(--space-xsmall);
}

.site-footer {
  margin: 0 auto;
  max-width: 60rem;
  padding: var(--space-xlarge) var(--space-xsmall);
}
