/* Reset-ish */
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

body,
input,
button,
select,
textarea {
  font: inherit;
}

/* Fonts */
/* source-sans-3-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/source-sans-3-v15-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/source-sans-3-v15-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/source-sans-3-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-serif-4-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/source-serif-4-v8-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Variables */
:root {
  /* Colors: https://reasonable.work/colors/ */
  --color-background: #f6f6f6;
  --color-text: #222222;
  --color-decorative: #e2e2e2;
  --color-uie: #8b8b8b;
  --color-light-text: #6f6f6f;
  --color-accent: #e2e2e2;
  --color-link: #0061fc;
  --color-focus: #ffe53e;
  --color-visited: #794aff;

  /* Fonts */
  --font-headings: "Source Serif 4", "Iowan Old Style", "Palatino Linotype",
    "URW Palladio L", P052, serif;
  --font-body: "Source Sans 3", system-ui, sans-serif;
  --font-code: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;

  /* Space */
  --space-xxsmall: 0.25rem;
  --space-xsmall: 0.5rem;
  --space-small: 1rem;
  --space: 1.5rem;
  --space-large: 2rem;
  --space-xlarge: 2.5rem;
  --space-xxlarge: 3rem;

  /* Some styles */
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
}

body {
  min-height: 100vh;
}

@media (min-width: 37.5rem) {
  body {
    font-size: 125%;
  }
}

/* Utilities */
/* Accessibility utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* Stack utility
   every-layout.dev */
.stack > * + * {
  margin-top: var(--space, 1.5rem);
}

.stack > h1 + *,
.stack > h2 + *,
.stack > h3 + *,
.stack > h4 + *,
.stack > h5 + *,
.stack > h6 + * {
  margin-top: 0.5rem;
}

/* Navigation utility */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.nav li {
  margin: 0;
}

.nav a {
  padding: var(--space-xsmall);
}

.nav-item-active > a {
  font-weight: 700;
}

/* Intro utility */
.intro {
  font-size: 125%;
}

/* Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 110%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h5 {
  font-size: inherit;
}

h6 {
  font-size: inherit;
}

figcaption {
  color: var(--color-light-text);
  font-style: italic;
}

blockquote {
  border-left: 0.25em solid var(--color-uie);
  font-style: italic;
  padding: 0 var(--space-xsmall);
}

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 700;
  margin-top: var(--space);
}

pre {
  border: 0.05em solid var(--color-decorative);
  border-radius: 0.1em;
  font-family: var(--font-code);
  font-size: 87.5%;
  line-height: 1.2;
  margin: var(--space-xsmall) 0;
  overflow: auto;
  padding: var(--space-xsmall);
  white-space: pre-wrap;
}

code,
kbd,
var {
  font-family: var(--font-code);
}

abbr {
  border-bottom: 1px dotted var(--color-uie);
  cursor: help;
}

small {
  font-size: 87.5%;
}

table,
th,
td {
  border: 0.05em solid var(--color-decorative);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0.05em 0 0 0.05em;
  padding: 0 !important;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  font-weight: 700;
}

th,
td {
  border-width: 0 0.05em 0.05em 0;
  padding: 0.25rem;
}

hr {
  background-color: var(--color-decorative);
  border: 0;
  height: 0.05em;
}

ul,
ol {
  padding-left: var(--space);
  margin-top: 0;
}

ul > li,
ol > li {
  list-style-position: inside;
  margin-top: var(--space-small);
}

li > ul,
li > ol {
  margin-bottom: 0;
  padding-left: var(--space);
}

figcaption {
  font-size: 87.5%;
  margin-top: var(--space-xsmall);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

mark {
  background-color: var(--color-accent);
}

a {
  color: var(--color-text);
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--color-link);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.1em;
}

a:visited {
  text-decoration-color: var(--color-visited);
}

a:focus {
  background-color: var(--color-focus);
  color: var(--color-text);
  outline: 0.1em solid var(--color-text);
  outline-offset: 0.1em;
  text-decoration: none;
}

a:hover {
  background-color: var(--color-link);
  color: var(--color-background);
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  top: 0.1em;
}

.skip-link {
  font-size: 87.5%;
  font-weight: 700;
  left: var(--space);
  padding: var(--space-xsmall);
  position: absolute;
  top: var(--space);
}

.skip-link.focusable:focus {
  position: absolute;
}

.image-link {
  display: block;
}

.image-link:hover {
  outline: 0.1em solid var(--color-link);
}

.image-link:focus {
  outline: 0.1em solid var(--color-text);
}

[tabindex="-1"]:focus {
  outline: 0;
}

/* Forms */
input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  background-color: inherit;
  border: 0.1em solid var(--color-uie);
  border-radius: 0.1em;
  padding: 0.25rem;
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: var(--color-background);
  box-shadow: inset 0 0 0 0.1em var(--color-focus);
  outline: 0.1em solid var(--color-text);
  outline-offset: 0;
}

textarea {
  padding-left: 0.25rem;
  width: 100%;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: inherit;
  border: 0.1em solid var(--color-link);
  border-radius: 0.25em;
  color: var(--color-text);
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  position: relative;
  -webkit-appearance: none;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: var(--color-link);
  color: var(--color-background);
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  top: 2px;
}

button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: var(--color-focus);
  border-color: var(--color-focus);
  color: var(--color-text);
  outline: 0.1em solid var(--color-text);
  outline-offset: 0.1em;
}

/* Containers and spacing */
.site-header {
  margin: 0 auto;
  max-width: 50rem;
  padding: var(--space-xlarge) 0 var(--space-large) 0;
}

.site-title {
  font-size: 87.5%;
  font-weight: 700;
  padding: var(--space-xsmall);
}

.site-breadcrumbs li:first-child {
  font-weight: 700;
}

.site-breadcrumbs {
  font-size: 87.5%;
}

.site-breadcrumbs li:not(:last-child)::after {
  margin: 0 var(--space-xsmall);
  content: "/";
}

.site-content {
  padding: var(--space-large) 0;
}

.content > *:not(figure, hr) {
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
  padding: 0 var(--space-xsmall);
}

.content > figure,
.content > hr {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  width: 100%;
}

.content img {
  margin-left: auto;
  margin-right: auto;
}

.site-footer {
  border-top: 1px solid var(--color-decorative);
  font-size: 87.5%;
  margin: 0 auto;
  max-width: 50rem;
  padding: var(--space-large) 0 var(--space-xlarge) 0;
}

.site-footer > *:not(:first-child) {
  margin-top: var(--space);
}

.site-footer > p + p {
  margin-top: var(--space-xsmall);
}

.site-footer > *:not(nav, p.tagline) {
  padding-left: var(--space-xsmall);
}

.tagline {
  text-align: center;
}

/* Going dark */
@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --color-background: #222222;
    --color-text: #f6f6f6;
    --color-decorative: #3e3e3e;
    --color-uie: #6f6f6f;
    --color-light-text: #8b8b8b;
    --color-accent: #3e3e3e;
    --color-link: #657eff;
    --color-visited: #9b70ff;
  }

  a:focus,
  button:focus,
  .button:focus,
  input[type="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus {
    color: var(--color-background);
  }
}
