/* Post meta */
.meta {
  margin-top: 0.4em;
  color: #666666;
  color: var(--lighttext);
  font-size: 0.8rem;
  font-style: italic;
}

.meta a {
  color: #666666;
  color: var(--lighttext);
}

.meta a:hover,
.meta a:focus {
  background-color: #666666;
  background-color: var(--lighttext);
  color: #fefefe;
  color: var(--background);
}

.meta a:focus {
  outline-color: #666666;
  outline-color: var(--lighttext);
}
