.resume .header > *:not(figure, img),
.resume .content > *:not(figure, img) {
  margin-left: unset;
  margin-right: unset;
  max-width: 100%;
}

.resume .header,
.resume .content {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

/* Sidebar utility
   every-layout.dev */
.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xsmall);
}

.with-sidebar > :last-child {
  flex-basis: 33%;
  flex-grow: 1;
  margin-top: 0;
}

.with-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 66%;
}
