.article-content .meta,
.note-content .meta {
  margin-top: 2.2em;
}

.meta + .meta {
  margin-top: 1.2em;
}

.tag-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
}
