{% extends 'layouts/base.njk' %}
{% block header %}
  {% include "partials/site-title.njk" %}
{% endblock %}

{% block content %}
  <div class="page">
    <div class="content stack">
      {%- if featuredimg and img -%}
        <figure>
          <img src="{{img}}" alt="{{imgalt}}" loading="eager" decoding="sync"/>
        </figure>
      {%- endif -%}
      <h1 class="title p-name">{{ title }}</h1>
      {{ content | safe }}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "partials/site-navigation.njk" %}
  {% include "partials/copyright.njk" %}
  {% include "partials/site-info-navigation.njk" %}
  {% include "partials/tagline.njk" %}
{% endblock %}
