{% extends 'layouts/base.njk' %}
{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}

{% block content %}
  <div class="page">
    <div class="header">
      {%- if featuredimg and img -%}
        {% featuredimage img, imgalt %}
      {%- endif -%}
      {% set pagetitle = title or renderData.title %}
      <h1 class="title p-name">{{ pagetitle }}</h1>
    </div>
    <div class="content stack">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}
