<!doctype html>
<html class="no-js" lang="en">
  {% include "partials/head.njk" %}
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <a class="skip-link sr-only focusable" href="#content">Skip to content</a>
    {% include "partials/header.njk" %}

    <main id="content" class="site-content">
      {% block content %}
      {% endblock content %}
    </main>

    {% include "partials/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
  {% set js %}
    {% include "js/main.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
</html>
