{% extends 'layouts/base.njk' %}
{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}

{% block content %}
  <div class="page-header">
    {% set pagetitle = title or renderData.title %}
    <h1 class="title p-name">{{ pagetitle }}</h1>
  </div>
  <div class="page-content stack">
    {{ content | safe }}
    {% include "partials/signup-form.njk" %}
    {% set postlist = pagination.items %}
    {% include "partials/archive-post-list.njk" %}
  </div>
  {% include "partials/archive-pagination.njk" %}
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}
