{% extends 'layouts/base.njk' %}
{% block content %}
  <div class="page-header">
    {% set pagetitle = title or renderData.title %}
    <h1 class="title p-name">{{ pagetitle | markdownify }}</h1>
  </div>
  {% if description %}<p class="p-summary">{{ description | markdownify  }}</p>{% endif %}
  <div class="page-content stack">
    {{ content | safe }}
    {% set postlist = pagination.items %}
    {% include "partials/signup-form.njk" %}
    {% include "partials/archive-post-list.njk" %}
  </div>
  {% include "partials/pagination.njk" %}
{% endblock %}
