{% extends 'layouts/base.njk' %}
{% block content %}
  <div class="page-header">
    <h1 class="title p-name">{{ title or renderData.title }}</h1>
  </div>

  <div class="page-content">
    {% include "partials/h-card.njk" %}

    {{ content | safe }}

    <h2>Latest posts</h2>
    {% set postlist = collections.posts | head(-5) %}
    {% include "partials/recent-posts.njk" %}
    <p>More posts can be found on <a href="{{ '/blog/' | url }}">the blog</a>.</p>
  </div>
{% endblock %}
