{% extends 'layouts/base.njk' %}
{% block content %}
  <div class="page-header">
    {%- if featuredimg and image -%}
      {% img "", "", image, imagealt, "" %}
    {%- endif -%}
    <h1 class="title p-name">{{ title or renderData.title }}</h1>
  </div>

  <div class="page-content">
    {% include "partials/h-card.njk" %}

    {{ content | safe }}
  </div>
{% endblock %}
