{% extends 'layouts/base.njk' %}
{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}

{% block content %}
  <article class="note h-entry">
    <div class="note-header">
      {%- if featuredimg and img -%}
        {% image img, imgalt %}
      {%- endif -%}
      {% set posttitle = title or renderData.title %}
      <h1 class="title p-name">{{ posttitle }}</h1>
      <div class="meta">
        <span class="date"> Published on <time class="dt-published" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> <span class="author sr-only h-card p-author">by {{ metadata.author.name }}</span></span>
      </div>
    </div>
    <div class="note-content stack e-content">
      {{ content | safe }}
      {# If we have more tags than just "articles" or "notes" #}
      {% if tags.length > 1 %}
        <div class="meta">
          {% set lastTag = tags | filterTagList | last %}
          <div class="tags">
            Tagged&nbsp;
            <ul class="tag-list">
              {% for tag in tags | filterTagList %}
                {% if tag != "articles" or "notes" %}
                  {% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
                  <li><a href="{{ tagUrl | url }}" class="tag p-category">{{ tag }}</a>{% if tag != lastTag %},&nbsp;{% endif %}</li>
                {%- endif -%}
              {% endfor %}
            </ul>
          </div>
        </div>
      {%- endif -%}
    </div>
  </article>
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}
