{% extends 'layouts/base.njk' %}
{% block content %}
  <section class="page">
    <div class="page-header">
      <h1 class="title p-name">{{ title or renderData.title }}</h1>
    </div>

    {% if description %}<p class="p-summary">{{ description }}</p>{% endif %}

    <div class="page-content">
      {{ content | safe }}
    </div>
  </section>
{% endblock %}
