{% extends 'layouts/base.njk' %}
{%- css %}
  {% include "_src/assets/css/single.css" %}
  {% include "_src/assets/css/meta.css" %}
  {% include "_src/assets/css/syntax.css" %}
{% endcss %}
{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}

{% block content %}
  <article class="post h-entry">
    <div class="header">
      {%- if featuredimg and img -%}
        {% image img, imgalt %}
      {%- endif -%}
      {% set posttitle = title or renderData.title %}
      <h1 class="title p-name">{{ posttitle }}</h1>
      <p class="meta">
        <span class="date"> Published on <time class="dt-published" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> <span class="author sr-only h-card p-author">by {{ metadata.author.name }}</span></span>
      </p>
    </div>
    <div class="content e-content stack">
      {{ content | safe }}
      {# If we have more tags than just "posts" #}
      {% if tags.length > 1 %}
      <hr>
        <p class="meta">
          {% set lastTag = tags | filterTagList | last %}
          <span class="tags">
            Tagged&nbsp;
            {% for tag in tags | filterTagList %}
              {% if tag != "posts" %}
                {% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="tag p-category">{{ tag }}</a>{% if tag != lastTag %},&nbsp;{% endif %}
              {%- endif -%}
            {% endfor %}
          </span>
        </p>
      {%- endif -%}
    </div>
  </article>
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}
