{% extends 'layouts/base.njk' %}
{% block content %}
  <article class="post h-entry">
    <div class="post-header stack">
      {%- if featuredimg and image -%}
        {% respimg "", "", image, imgalt, "", 1280, 1080, [320,480,640,800,960,1120,1280,1440,1600], 800, "" %}
      {%- endif -%}
      {% set posttitle = title or renderData.title %}
      <h1 class="title p-name">{{ posttitle | markdownify }}</h1>
      <div class="post-meta">
        <span class="date"> Published on <time class="dt-published" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> <span class="author sr-only h-card p-author">by {{ metadata.author.name }}</span></span>
      </div>
    </div>
    <div class="post-content e-content stack">
      {{ content | safe }}
      {# If we have more tags that just "posts" #}
      {% if tags.length > 1 %}
        <div class="post-meta">
          {% set lastTag = tags | last %}
          <div class="tags">
            Tagged&nbsp;
            <ul class="tag-list">
              {% for tag in tags %}
                {% if tag != "posts" %}
                  {% set tagUrl %}/tag/{{ tag | slug }}/{% endset %}
                  <li><a href="{{ tagUrl | url }}" class="tag p-category">{{ tag }}</a>{% if tag != lastTag %},&nbsp;{% endif %}</li>
                {%- endif -%}
              {% endfor %}
            </ul>
          </div>
        </div>
      {%- endif -%}
    </div>
  </article>
{% endblock %}
