{% extends 'layouts/base.njk' %}
{%- css %}
  {% include "_src/assets/css/resume.css" %}
{% endcss %}
{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}

{% block content %}
  <div class="resume">
    <div class="header">
      {%- if featuredimg and img -%}
        {% featuredimage img, imgalt %}
      {%- endif -%}
      <h1 class="title p-name">{{ title }}</h1>
    </div>
    <div class="content stack">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}
