---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - bestof
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
  eleventyNavigation:
    key: Tagged “{{ tag }}”
    parent: Tags
layout: layouts/page.njk
templateClass: archive-template
permalink: /tag/{{ tag | slugify }}/
---

{% set postlist = collections[ tag ] %}
{% if (collections[ tag ].length) > 1  %}
<p>There are {{ collections[ tag ].length }} posts tagged with {{ tag }}.</p>
{% else %}
<p>There is {{ collections[ tag ].length }} post tagged with {{ tag }}.</p>
{% endif %}
{% include "partials/archive-post-list.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
