---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - articles
    - notes
    - bestof
    - haikus
    - readinglists
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
layout: page
permalink: /tag/{{ tag | slugify }}/
---

{%- css %}
  {% include "_src/assets/css/archive.css" %}
  {% include "_src/assets/css/meta.css" %}
{% endcss %}
{% set postlist = collections[ tag ] | reverse %}
{% if (collections[ tag ].length) > 1  %}
<p>There are {{ collections[ tag ].length }} posts tagged with {{ tag }}.</p>
{% else %}
<p>There is {{ collections[ tag ].length }} post tagged with {{ tag }}.</p>
{% endif %}
{% include "partials/archive-post-list.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
