---
title: Tags
description: A list of topics for David A. Kennedy's blog.
eleventyNavigation:
  key: Tags
  parent: Home
layout: page
---
{% block content %}
  {% if collections %}
    <ul>
      {% for tag in collections | getKeys | filterTagList | sort( false, false) %}
      {% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
        <li>
          <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
          {% if (collections[ tag ].length) > 1  %}
          ({{ collections[tag].length }} posts)
          {% else %}
          ({{ collections[tag].length }} post)
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endblock %}
