/* cooper hewitt bold subset - latin */
@font-face {
  font-display: swap;
  font-family: CooperHewittBoldSubset;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/cooper-hewitt/CooperHewitt-Bold-subset.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/cooper-hewitt/CooperHewitt-Bold-subset.woff') format('woff'); /* Modern Browsers */
  unicode-range: U+65-90,U+97-122;
}

/* cooper hewitt bold italic subset - latin */
@font-face {
  font-display: swap;
  font-family: CooperHewittBoldItalicSubset;
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/cooper-hewitt/CooperHewitt-BoldItalic-subset.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/cooper-hewitt/CooperHewitt-BoldItalic-subset.woff') format('woff'); /* Modern Browsers */
  unicode-range: U+65-90,U+97-122;
}

/* cooper hewitt bold - latin */
@font-face {
  font-display: swap;
  font-family: CooperHewittBold;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/cooper-hewitt/CooperHewitt-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/cooper-hewitt/CooperHewitt-Bold.woff') format('woff'); /* Modern Browsers */
}

/* cooper hewitt bold italic - latin */
@font-face {
  font-display: swap;
  font-family: CooperHewittBoldItalic;
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/cooper-hewitt/CooperHewitt-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/cooper-hewitt/CooperHewitt-BoldItalic.woff') format('woff'); /* Modern Browsers */
}
