/* Main */
.site-content {
  padding: var(--s6) var(--s3);
  margin: 0 auto;
  max-width: var(--measure-wide);
}

.post-template .post-content {
  margin-bottom: var(--s3);
}

/* Posts */
.post-list .post {
  margin-bottom: var(--s6);
}

.post-list .post-date {
  color: var(--lighttext);
  font-family: var(--font-monospace);
  font-size: var(--s-1);
  margin-bottom: var(--s-3);
}

.post-list .post-link {
  display: inline-block;
  margin-bottom: var(--s-6);
}

/* Post meta */
.post-meta {
  padding-top: var(--s3);
}

.meta {
  color: var(--lighttext);
  font-family: var(--font-monospace);
  font-size: var(--s-1);
}

.b-d-line {
  margin-bottom: var(--s3);
}

.author,
.date {
  display: block;
}

.tag-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: var(--s3);
}

.posts-pagination .older-posts {
  margin-right: auto;
}

.posts-pagination .newer-posts {
  margin-left: auto;
}

/* h-card */
.h-card figure {
  float: left;
  margin-right: var(--s1);
  max-width: 75px;
  shape-outside: circle();
}

.h-card img {
  border-radius: 50%;
  max-width: 75px;
}
