/* Main */
.site-content {
  margin-bottom: var(--s6);
}

.post-template .post-content {
  margin-bottom: var(--s3);
}

/* Layout */
.page-content > *:not(.full-width):not(.wide-width),
.post-content > *:not(.full-width):not(.wide-width),
.page-header > *,
.post-header > *,
.post-meta > *,
.posts-pagination {
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
  padding-left: var(--s1);
  padding-right: var(--s1);
}

.full-width {
  max-width: 100%;
  padding: 0;
  width: 100%;
}

.wide-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

/* Posts */
.post-list .post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: var(--s3);
}

.post-list .post-date {
  color: var(--light);
  font-size: var(--s-1);
  font-style: italic;
}

.post-list .post-link {
  margin-right: var(--s1);
}

/* Post meta */
.post-meta {
  padding-top: var(--s1);
}

.meta {
  color: var(--light);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--s-1);
  font-style: italic;
  justify-content: space-between;
}

.b-d-line {
  margin-bottom: var(--s3);
  margin-right: var(--s1);
}

.author,
.date {
  display: block;
}

@media (min-width: 37.5em) {
  .tags {
    flex-basis: 60%;
  }
}

.tag-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* h-card */
.h-card figure {
  float: left;
  margin-right: var(--s1);
  max-width: 75px;
  shape-outside: circle();
}

.h-card img {
  border-radius: 50%;
  max-width: 75px;
}
