/* Main */
.site-content {
  margin-bottom: var(--s6);
}

.post-template .post-content {
  margin-bottom: var(--s3);
}

/* Layout */
.page-content > *:not(.full-width):not(.wide-width),
.post-content > *:not(.full-width):not(.wide-width),
.page-header > *,
.post-header > *,
.post-meta > *,
.posts-pagination {
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
  padding-left: var(--s1);
  padding-right: var(--s1);
}

.full-width {
  max-width: 100%;
  padding: 0;
  width: 100%;
}

.wide-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

/* Posts */
.post-list .post {
  margin-bottom: var(--s3);
}

.font-stage-1 .post-list .post-date {
  font-family: "IBM Plex Serif Italic Subset", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-style: italic;
}

.font-stage-2 .post-list .post-date,
.post-list .post-date {
  font-family: var(--font-serif-italic);
  font-style: italic;
}

.post-list .post-date {
  color: var(--lighttext);
  font-size: var(--s-1);
}

.post-list .post-link {
  display: inline-block;
  margin-bottom: var(--s-6);
}

/* Post meta */
.post-meta {
  padding-top: var(--s1);
}

.font-stage-1 .meta {
  font-family: "IBM Plex Sans Italic Subset", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}

.font-stage-2 .meta,
.meta {
  font-family: var(--font-sans-serif);
  font-style: italic;
}

.meta {
  color: var(--lighttext);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--s-1);
  justify-content: space-between;
}

.b-d-line {
  margin-bottom: var(--s3);
  margin-right: var(--s1);
}

.author,
.date {
  display: block;
}

@media (min-width: 37.5em) {
  .tags {
    flex-basis: 60%;
  }
}

.tag-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts-pagination .older-posts {
  margin-right: auto;
}

.posts-pagination .newer-posts {
  margin-left: auto;
}

/* h-card */
.h-card figure {
  float: left;
  margin-right: var(--s1);
  max-width: 75px;
  shape-outside: circle();
}

.h-card img {
  border-radius: 50%;
  max-width: 75px;
}
