/* Navigation abstraction */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav li {
  padding: 0 var(--s-3);
}

.nav li:first-of-type {
  padding-left: 0;
}

.nav li:last-of-type {
  padding-right: 0;
}

/* Site naigation */
.site-navigation .nav {
  justify-content: flex-end;
}

.font-stage-1 .site-navigation a {
  font-family: "IBM Plex Sans Subset Bold", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.font-stage-2 .site-navigation a,
.site-navigation a {
  font-family: var(--font-sans-serif-bold);
  font-weight: 700;
}

/* Post Navigation */
.font-stage-1 .posts-pagination a {
  font-family: "IBM Plex Sans Subset Bold", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.font-stage-2 .posts-pagination a,
.posts-pagination a {
  font-family: var(--font-sans-serif-bold);
  font-weight: 700;
}

.posts-pagination a {
  font-size: var(--s-1);
  text-decoration: none;
}

.posts-pagination svg,
.posts-pagination a {
  display: inline-block;
  vertical-align: middle;
}

/* Links */
 a {
   color: var(--text);
   position: relative;
   text-decoration: underline;
}

a:hover {
  background-color: var(--primary);
  outline: 0;
  text-decoration: none;
}

a:focus {
  background-color: var(--primary);
  outline: 2px solid;
  text-decoration: none;
}

a:active {
  outline: 0;
  top: 2px;
}

h1 a,
.h1,
h2 a,
.h2,
h3 a,
.h3,
h4 a,
.h4,
h5 a,
.h5,
h6 a,
.h6 {
  color: var(--headline);
}

.font-stage-1 .skip-link {
  font-family: "IBM Plex Sans Subset Bold", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.font-stage-2 .skip-link,
.skip-link {
  font-family: var(--font-serif-bold);
  font-weight: 700;
}

.skip-link {
  font-size: var(--s-1);
  max-width: none;
  padding: var(--s-5) var(--s-4);
  text-align: center;
}

.skip-link:focus {
  display: block;
  outline-offset: -8px;
}

.image-link {
  display: block;
}

.site-title {
  text-decoration: none;
}

.site-title:hover {
	background-color: transparent;
}

.site-title:focus {
  background-color: transparent;
  outline-offset: 2px;
}

.meta a {
  color: var(--lighttext);
}

.meta a:hover,
.meta a:focus {
  color: var(--text);
}

/* Social navigation */
.social-navigation {
  margin-bottom: var(--s3);
}

.social-navigation .nav {
  justify-content: center;
}

.social-navigation a {
  text-decoration: none;
}

.social-navigation a:visited {
  text-decoration: none;
}
