/* Site naigation */
.site-navigation .nav { 
  font-size: var(--s-2);
  justify-content: flex-end;
  margin-left: auto;
}

.font-stage-1 .site-navigation a {
  font-family: var(--font-sans-serif-bold-subset);
  font-weight: 700;
}

.font-stage-2 .site-navigation a,
.site-navigation a {
  font-family: var(--font-sans-serif-bold);
  font-weight: 700;
}

.site-navigation a {
  padding: var(--s-3);
  text-decoration: none;
}

.site-navigation a:hover {
  text-decoration: underline;
}

/* Post Navigation */
.font-stage-1 .posts-pagination a {
  font-family: var(--font-sans-serif-bold-subset);
  font-weight: 700;
}

.font-stage-2 .posts-pagination a,
.posts-pagination a {
  font-family: var(--font-sans-serif-bold);
  font-weight: 700;
}

.posts-pagination a {
  font-size: var(--s-1);
  text-decoration: none;
}

.posts-pagination svg,
.posts-pagination a {
  display: inline-block;
  vertical-align: middle;
}

/* Links */
 a {
   color: var(--text);
   position: relative;
   text-decoration: underline;
   text-decoration-color: var(--lighttext);
}

a:hover {
  background-color: var(--primary);
  outline: 0;
  text-decoration: none;
}

a:focus {
  background-color: var(--primary);
  outline: 2px dashed;
  outline-offset: 2px;
  text-decoration: none;
}

a:active {
  outline: 0;
  top: 2px;
}

h1 a,
.h1,
h2 a,
.h2,
h3 a,
.h3,
h4 a,
.h4,
h5 a,
.h5,
h6 a,
.h6 {
  color: var(--headline);
}

.skip-link {
  font-family: var(--font-serif);
  font-size: var(--s-1);
  font-weight: 700;
  max-width: none;
  padding: var(--s-5) var(--s-4);
  text-align: center;
}

.skip-link:focus {
  display: block;
  outline-offset: -8px;
}

.image-link {
  display: block;
}

.site-title {
  padding-top: 0 !important;
  text-decoration: none;
}

.site-title:hover {
	background-color: transparent;
}

.site-title:focus {
  background-color: transparent;
  outline-offset: 2px;
}

.meta a {
  color: var(--lighttext);
}

.meta a:hover,
.meta a:focus {
  color: var(--text);
}

/* Social navigation */
.social-navigation {
  margin-bottom: var(--s-3);
}

.social-navigation .nav {
  justify-content: center;
}

.social-navigation a {
  text-decoration: none;
  padding: var(--s-3);
}
