/* Fonts */
@supports (font-variation-settings: normal) {
  @font-face {
    font-display: swap;
    font-family: "Source Serif VF";
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url("/assets/fonts/SourceSerif4Variable-Roman.ttf.woff2")
        format("woff2 supports variations"),
      url("/assets/fonts/SourceSerif4Variable-Roman.ttf.woff2")
        format("woff2-variations");
  }

  @font-face {
    font-family: "Source Serif VF";
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url("/assets/fonts/SourceSerif4Variable-Italic.ttf.woff2")
        format("woff2 supports variations"),
      url("/assets/fonts/SourceSerif4Variable-Italic.ttf.woff2")
        format("woff2-variations");
  }

  @font-face {
    font-family: "Source Code VF";
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url("/assets/fonts/SourceCodeVariable-Roman.ttf.woff2")
        format("woff2 supports variations"),
      url("/assets/fonts/SourceCodeVariable-Roman.ttf.woff2")
        format("woff2-variations");
  }
}

/* Reset-ish */
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Variables */
:root {
  /* Colors */
  --background: #fbfbfb;
  --lighttext: #816e6e;
  --primary: #2364aa;
  --secondary: #a74482;
  --text: #36382e;
  /* TODO */
  --error: #ffbbbb;
  --success: #c7f0bd;
  /* Spacing */
  --ratio: 1.45;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  /* Other stuff */
  --border-thin: 0.12em;
  --border-thick: 0.125em;
  --font-serif: "Source Serif VF", Constantia, "Lucida Bright", Lucidabright,
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
    "Liberation Serif", Georgia, serif;
  --font-monospace: "Source Code VF", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
  --line-height: 1.45;
  --line-height-small: 1.2;
  --stack-space: var(--s1);
  --measure-narrow: 30ch;
  --measure: 60ch;
  --measure-wide: 90ch;
  background-color: #fbfbfb;
  background-color: var(--background);
  color: #36382e;
  color: var(--text);
  font-family: "Source Serif VF", Constantia, "Lucida Bright", Lucidabright,
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
    "Liberation Serif", Georgia, serif;
  font-family: var(--font-serif);
  font-weight: 400;
  height: 100%;
  line-height: 1.45;
  line-height: var(--line-height);
}

/* Global */
body {
  font-size: 1.25rem;
  min-height: 100%;
}

/* Utilities */
/* Accessibility utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* Make something stand out TODO */
.callout {
  border: 2px solid #767676;
  border: 2px solid var(--lighttext);
  border-radius: 0.125em;
  border-radius: var(--border-thick);
  padding: 0.444444444445em;
  padding: var(--s-2);
}

/* Big 'ol text TODO */
.intro {
  font-size: 1.334em;
}

/* Stack utility
 every-layout.dev */
.stack > * + *,
.stack + .stack,
.stack > .stack {
  margin-top: 1.45em;
  margin-top: var(--stack-space, 1.45em);
}
