/* Fonts */
/* cooper hewitt bold - latin */
@font-face {
  font-display: swap;
  font-family: CooperHewittBold;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/cooper-hewitt/CooperHewitt-Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/cooper-hewitt/CooperHewitt-Bold.woff") format("woff"); /* Modern Browsers */
}

/* CSS Reset 
 * Inspired by: https://piccalil.li/blog/a-modern-css-reset
*/
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables */
:root {
  /* Colors */
  --background: #fffffe;
  --headline: #272343;
  --lighttext: #767676;
  --primary: #ffd803;
  --secondary: #e3f6f5;
  --text: #2d334a;
  --error: #fbb;
  --success: #c7f0bd;

  /* Scale */
  --ratio: 1.2;
  --s-9: calc(var(--s-8) / var(--ratio));
  --s-8: calc(var(--s-7) / var(--ratio));
  --s-7: calc(var(--s-6) / var(--ratio));
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));
  --s9: calc(var(--s8) * var(--ratio));
  --line-height: 1.44;
  --line-height-small: var(--ratio);
  --measure-narrow: 25ch;
  --measure: 60ch;
  --measure-wide: 90ch;
  /* Other stuff */
  --font-serif: Georgia, serif;
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-headline: CooperHewittBold, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  --border-thin: var(--s-9);
  --border-thick: var(--s-8);
  --stack-space: var(--s3);
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-serif);
  font-size: calc(0.65vw + 1em);
  font-weight: 400;
  line-height: var(--line-height);
}

/* Global */
/* Decoractive stuff */
body::before {
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: calc(10 * 0.5px) calc(10 * 0.5px);
  content: "";
  display: block;
  height: var(--s1);
  width: 100%;
}

body::after {
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: calc(10 * 0.5px) calc(10 * 0.5px);
  content: "";
  display: block;
  height: var(--s1);
  width: 100%;
}

.page-header .title,
.post-header .title {
  display: inline-block;
  max-width: var(--measure-narrow);
  position: relative;
}

.page-header .title::after,
.post-header .title::after {
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: calc(10 * 0.5px) calc(10 * 0.5px);
  content: "";
  display: block;
  height: var(--s1);
  width: 100%;
}

/* Utilities */
/* Accessibility utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Clear floats */
.clear:before,
.clear:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after {
  clear: both;
}

/* Make something stand out */
.callout {
  border: 2px solid var(--lighttext);
  border-radius: var(--border-thick);
  padding: var(--s-1);
}

/* Big 'ol text */
.intro {
  font-size: var(--s2);
}

/* Stack utility
 every-layout.dev */
.stack > * + *,
.stack + .stack,
.stack > .stack {
  margin-top: var(--stack-space, 1em);
}

/* Sidebar utility
 every-layout.dev */
.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s3) / 2 * -1);
}

.with-sidebar > * > * {
  margin: calc(var(--s3) / 2);
  flex-grow: 1;
}

.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(55% - var(--s3));
}

.wrapper {
  margin: 0 auto;
  max-width: 50rem;
  padding: var(--s6) var(--s1);
}

/* Elements */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  clear: both;
  color: var(--headline);
  font-family: var(--font-headline);
  font-weight: 700;
  hyphens: auto;
  line-height: var(--line-height-small);
  word-wrap: break-word;
}

h1,
.h1 {
  font-size: var(--s4);
}

h2,
.h2 {
  font-size: var(--s3);
}

h3,
.h3 {
  font-size: var(--s2);
}

h4,
.h4 {
  font-size: var(--s1);
}

h5,
.h5 {
  font-size: var(--s0);
}

h6,
.h6 {
  font-size: var(--s-1);
}

dfn,
em,
i,
figcaption {
  font-family: var(--font-serif);
  font-style: italic;
}

blockquote {
  border-left: var(--border-thin) solid var(--lighttext);
  font-family: var(--font-serif);
  font-style: italic;
  padding: 0 var(--s1);
}

blockquote cite {
  --stack-space: var(--s3);
  display: block;
}

cite {
  font-family: var(--font-headline);
  font-weight: 700;
}

address {
  font-family: var(--font-serif);
  font-style: italic;
  margin-top: 0;
}

b,
strong {
  font-weight: 700;
}

pre {
  background-color: var(--secondary);
  color: var(--text);
  font-family: var(--font-monospace);
  font-size: var(--s-1);
  line-height: var(--line-height-small);
  max-width: 100%;
  overflow: auto;
  padding: var(--s1) var(--s2);
  white-space: pre-wrap;
}

code,
kbd,
var {
  background-color: var(--secondary);
  font-family: var(--font-monospace);
  font-size: var(--s-1);
}

abbr {
  border-bottom: 1px dotted var(--lighttext);
  cursor: help;
}

mark {
  background: var(--secondary);
  color: var(--text);
  text-decoration: none;
}

del {
  background-color: var(--error);
  text-decoration: line-through;
}

ins {
  background-color: var(--success);
  text-decoration: none;
}

blockquote,
q {
  quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

small {
  font-size: var(--s-2);
}

table,
th,
td {
  border: 1px solid var(--lighttext);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  padding: 0 !important;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  font-family: var(--font-headline);
  font-weight: 700;
}

th,
td {
  border-width: 0 1px 1px 0;
  padding: var(--s-2);
}

hr {
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: calc(10 * 0.5px) calc(10 * 0.5px);
  border: 0;
  height: 15px;
  margin-top: 0;
}

ul,
ol {
  margin-left: var(--s1);
  margin-top: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: var(--s1);
}

dt {
  border-bottom: 1px solid var(--lighttext);
  font-family: var(--font-headline);
  font-weight: 700;
}

dd {
  margin-left: var(--s1);
  margin-top: 0;
}

figcaption {
  font-size: var(--s-1);
}

img {
  box-shadow: 0 0 10px var(--lighttext);
  display: block;
  max-width: 100%;
  height: auto;
}

img.intrinsic {
  width: auto;
}

/* Links */
a {
  color: var(--text);
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--lighttext);
  text-decoration-skip-ink: auto;
}

a:hover {
  background-color: var(--primary);
  outline: 0;
  text-decoration: none;
}

a:focus {
  background-color: var(--primary);
  outline: 2px dashed;
  outline-offset: 2px;
  text-decoration: none;
}

a:active {
  outline: 0;
  top: 2px;
}

h1 a,
.h1,
h2 a,
.h2,
h3 a,
.h3,
h4 a,
.h4,
h5 a,
.h5,
h6 a,
.h6 {
  color: var(--headline);
}

.skip-link {
  font-family: var(--font-serif);
  font-size: var(--s-1);
  font-weight: 700;
  left: var(--s3);
  max-width: none;
  padding: var(--s-3);
  position: absolute;
}

.skip-link.focusable:focus {
  position: absolute;
}

.image-link {
  display: block;
}

/* Forms */
label {
  font-family: var(--font-headline);
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  background-color: var(--background);
  border: 1px solid var(--lighttext);
  border-bottom-width: var(--border-thin);
  border-radius: var(--border-thin);
  padding: var(--s-8);
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  border-color: var(--text);
  outline: 2px dashed;
  outline-offset: 2px;
}

select {
  border: 1px solid var(--lighttext);
}

select:focus {
  outline: 2px dashed;
  outline-offset: 2px;
}

textarea {
  padding-left: var(--s-8);
  width: 100%;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-bottom-width: var(--border-thin);
  border-radius: var(--border-thin);
  color: var(--text);
  cursor: pointer;
  font-family: var(--font-headline);
  font-weight: 700;
  padding: var(--s-8) var(--s-4);
  position: relative;
  transition: color 0.2s;
  -webkit-appearance: none;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: var(--text);
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  top: 2px;
}

button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  border-color: var(--text);
  outline: 2px dashed;
  outline-offset: 2px;
}

.button.button-transparent {
  background-color: transparent;
  border-color: var(--text);
}

.button.button-transparent:hover,
.button.button-transparent:focus {
  background-color: var(--primary);
  border-color: var(--primary);
}

.signup-alert {
  --stack-space: var(--s-8);
}

.alert {
  align-items: flex-start;
  display: flex;
  animation: slide-up 250ms ease;
}

.alert[data-state="error"] {
  background-color: var(--error);
}

.alert[data-state="success"] {
  background-color: var(--success);
}

.alert svg {
  position: relative;
  margin-right: var(--s-4);
  top: 4px;
}

label + .inline-field-control {
  --stack-space: var(--s-8);
}

.email-signup button > svg {
  vertical-align: middle;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(0.4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Blocks */
/* Gallery/reel
 every-layout.dev */
.reel {
  display: flex;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #fffffe #2d334a;
}

.reel::-webkit-scrollbar {
  height: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: #2d334a;
}

.reel::-webkit-scrollbar-thumb {
  background-color: #2d334a;
  background-image: linear-gradient(
    #2d334a 0,
    #2d334a 0.25rem,
    #fffffe 0.25rem,
    #fffffe 0.75rem,
    #2d334a 0.75rem
  );
}

.reel > * {
  flex: 0 0 auto;
}

.reel > img,
.reel > figure {
  height: 100%;
  flex-basis: auto;
  width: auto;
}

.reel > * + * {
  margin-left: 1rem;
}

.reel.overflowing {
  padding-bottom: 1rem;
}

/* Horizontal navigation */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
}

.nav a {
  display: inline-block;
}

/* Site naigation */
.site-navigation .nav {
  font-size: var(--s-2);
  justify-content: flex-end;
  margin-left: auto;
}

.site-navigation a {
  font-family: var(--font-headline);
  font-weight: 700;
}

.site-navigation a {
  padding: var(--s-3);
  text-decoration: none;
}

.site-navigation a:hover {
  text-decoration: underline;
}

/* Social navigation */
.social-navigation .nav {
  justify-content: center;
}

.social-navigation a {
  text-decoration: none;
  padding: var(--s-3);
}

/* Post Navigation */
.posts-pagination {
  --stack-space: var(--s6);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts-pagination .older-posts {
  margin-right: auto;
}

.posts-pagination .newer-posts {
  margin-left: auto;
}

.posts-pagination a {
  font-family: var(--font-headline);
  font-weight: 700;
}

.posts-pagination a {
  font-size: var(--s-1);
  text-decoration: none;
}

.posts-pagination svg,
.posts-pagination a {
  display: inline-block;
  vertical-align: middle;
}

/* h-card */
.h-card img {
  border-radius: 4px;
  box-shadow: none;
  max-width: 150px;
}

/* Posts */
.post-list {
  list-style: none;
  margin-left: 0;
}

.post-list * + * {
  --stack-space: var(--s6);
}

.post-list .post-date {
  --stack-space: var(--s-6);
  color: var(--lighttext);
  font-family: var(--font-monospace);
  font-size: var(--s-1);
}

.post-list .post-link {
  display: inline-block;
}

.post-list .post-excerpt {
  --stack-space: var(--s-6);
}

/* Post meta */
.post-meta {
  --stack-space: var(--s-3);
  color: var(--lighttext);
  font-family: var(--font-monospace);
  font-size: var(--s-1);
}

.post-content .post-meta {
  --stack-space: var(--s6);
}

.tag-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
}

.tag-list a {
  color: var(--lighttext);
}

.tag-list a:hover,
.tag-list a:focus {
  color: var(--text);
}

/* Widths */
.page-content p,
.post-content p,
.page-content li,
.post-content li {
  max-width: var(--measure);
}

.page-content h2,
.post-content h2,
.page-content h3,
.post-content h3,
.page-content h4,
.post-content h4,
.page-content h5,
.post-content h5,
.page-content h6,
.post-content h6 {
  max-width: var(--measure-narrow);
}

.page-content > h2 + *,
.post-content > h2 + *,
.page-content > h3 + *,
.post-content > h3 + *,
.page-content > h4 + *,
.post-content > h4 + *,
.page-content > h5 + *,
.post-content > h5 + *,
.page-content > h6 + *,
.post-content > h6 + * {
  --stack-space: var(--s-3);
}

/* Containers */
.site-content {
  max-width: var(--measure-wide);
}

.site-content[tabindex="-1"]:focus {
  outline: 0;
}

.site-footer {
  text-align: center;
}

/* Syntax highlighting */
pre[class*="language-"],
code[class*="language-"] {
  color: #2d334a;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

pre[class*="language-"] {
  background: #e3f6f5;
  margin: var(--s3) 0 0;
  overflow: auto;
  padding: 1em;
}

:not(pre) > code[class*="language-"] {
  background: #e3f6f5;
  border-radius: 4px;
  color: #b44e3c;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #666666;
}

.token.punctuation {
  color: #666666;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b44e3c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #527a00;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #b44e3c;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0076a8;
}

.token.function {
  color: #b44e3c;
}

.token.regex,
.token.important,
.token.variable {
  color: #a85a00;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Print */
@media print {
  @page {
    margin: 0.5in;
  }

  .site-header,
  .site-footer,
  .posts-pagination {
    display: none;
  }

  body::before,
  body::after,
  .page-header .title::after,
  .post-header .title::after {
    content: none;
  }

  * {
    background: #fff !important;
    box-shadow: none !important;
    color: #000 !important;
    font-size: 14pt !important;
    text-shadow: none !important;
  }

  h1 {
    font-size: 28pt !important;
  }

  h2 {
    font-size: 24pt !important;
  }

  h3 {
    font-size: 22pt !important;
  }

  h4 {
    font-size: 20pt !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
  */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/
   * http://css-discuss.incutio.com/wiki/Printing_Tables
  */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  ul,
  ol {
    page-break-inside: avoid;
  }

  .reel {
    display: block;
  }

  .reel > figure {
    margin-bottom: var(--s3);
  }
}
