/* Fonts */
/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/merriweather-regular-subset.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/merriweather-regular-subset.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-italic - latin */
@font-face {
  font-family: "Merriweather";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/merriweather-italic-subset.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/merriweather-italic-subset.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/merriweather-bold-subset.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/merriweather-bold-subset.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Reset-ish */
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Variables */
:root {
  /* Colors */
  --background: #fefefe;
  --lighttext: #666666;
  --text: #333333;
  --decorative: #949494;
  --marklight: #f6f6f6;
  --markdark: #ededed;
  background-color: #fefefe;
  background-color: var(--background);
  color: #333333;
  color: var(--text);
  font-family: "Merriweather", Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif;
  font-size: 1.25rem;
  font-size: calc(0.25vw + 0.25vh + 1rem);
  font-weight: 400;
  height: 100%;
  line-height: 1.4;
}

/* Global */
body {
  min-height: 100%;
}

/* Utilities */
/* Accessibility utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* Make something stand out */
.callout {
  background-color: #f6f6f6;
  background-image: linear-gradient(to right, #ededed 0%, #f6f6f6 100%);
  background-color: var(--marklight);
  background-image: linear-gradient(
    to right,
    var(--markdark) 0%,
    var(--marklight) 100%
  );
  outline: 2px dotted #333333;
  outline: 2px dotted var(--text);
  outline-offset: 0.1em;
  border-radius: 0.1em;
  padding: 0.5em;
}

/* Stack utility
 every-layout.dev */
.stack > * + *,
.stack + .stack,
.stack > .stack {
  margin-top: 1.4em;
}

/* Sidebar utility
 every-layout.dev */
.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.with-sidebar > :last-child {
  flex-basis: 33%;
  flex-grow: 1;
  margin-top: 0;
}

@media (max-width: 988px) {
  .with-sidebar > :last-child {
    margin-top: 1.4em;
  }
}

.with-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 66%;
}

/* Elements */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.1rem;
}

h2,
.h2 {
  font-size: 1.8rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.2rem;
}

.archive-template h2::after {
  border-top: 0.1em solid currentColor;
  content: "";
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
  width: 25%;
}

figcaption {
  font-style: italic;
}

blockquote {
  border-left: 0.25em solid #666666;
  border-left: 0.25em solid var(--lighttext);
  font-style: italic;
  padding: 0 0.5em;
}

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 700;
  margin-top: 1.4em;
}

pre {
  border: 0.0625em solid #949494;
  border: 0.0625em solid var(--decorative);
  border-radius: 0.3em;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  font-size: 0.9rem;
  line-height: 1.2;
  margin: 0.35em 0;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  white-space: pre-wrap;
}

code,
kbd,
var {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

abbr {
  border-bottom: 1px dotted #666666;
  border-bottom: 1px dotted var(--lighttext);
  cursor: help;
}

small {
  font-size: 0.75rem;
}

table,
th,
td {
  border: 1px solid #666666;
  border: 1px solid var(--lighttext);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  padding: 0 !important;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  font-weight: 700;
}

th,
td {
  border-width: 0 1px 1px 0;
  padding: 0.25em;
}

hr {
  background-color: #949494;
  background-color: var(--decorative);
  height: 0.1em;
}

ul,
ol {
  margin-left: 1.4em;
  margin-top: 0;
  padding: 0;
}

ul > li,
ol > li {
  margin-top: 0.7em;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.4em;
}

figcaption {
  font-size: 0.8rem;
  margin-top: 0.35em;
}

img {
  box-shadow: 0 0 0 1px #fefefe, 0 0 0 2px #949494;
  box-shadow: 0 0 0 1px var(--background), 0 0 0 2px var(--decorative);
  display: block;
  height: auto;
  max-width: 100%;
}

.site-header img {
  border-radius: 50%;
}

mark {
  background-color: #f6f6f6;
  background-image: linear-gradient(to right, #ededed 0%, #f6f6f6 100%);
  background-color: var(--marklight);
  background-image: linear-gradient(
    to right,
    var(--markdark) 0%,
    var(--marklight) 100%
  );
}

/* Links */
a {
  color: #333333;
  color: var(--text);
  position: relative;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

a:hover {
  background-color: #333333;
  background-color: var(--text);
  color: #fefefe;
  color: var(--background);
  outline: 0;
  text-decoration: none;
}

a:focus {
  background-color: #333333;
  background-color: var(--text);
  color: #fefefe;
  color: var(--background);
  outline: 0.1em dashed;
  outline-color: #333333;
  outline-color: var(--text);
  outline-offset: 0.1em;
  text-decoration: none;
}

a:active {
  outline: 0;
  top: 2px;
}

.skip-link {
  font-size: 0.8rem;
  font-weight: 700;
  left: 1.4em;
  padding: 0.5em;
  position: absolute;
  top: 1.4em;
}

.skip-link.focusable:focus {
  position: absolute;
}

.image-link {
  display: block;
}

[tabindex="-1"]:focus {
  outline: 0;
}

/* Forms */
label {
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  background-color: #fefefe;
  background-color: var(--background);
  border: 0.0625em solid #666666;
  border: 0.0625em solid var(--lighttext);
  border-radius: 0.25em;
  padding: 0.282773125em;
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #333333;
  border-color: var(--text);
  outline: 0.1em dashed;
  outline-offset: 0.1em;
}

textarea {
  padding-left: 0.25em;
  width: 100%;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #fefefe;
  background-color: var(--background);
  border: 0.0625em solid #333333;
  border: 0.0625em solid var(--text);
  border-radius: 0.25em;
  color: #333333;
  color: var(--text);
  cursor: pointer;
  font-weight: 700;
  padding: 0.410020625em 0.59453em;
  position: relative;
  -webkit-appearance: none;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #333333;
  background-color: var(--text);
  border-color: #333333;
  border-color: var(--text);
  color: #fefefe;
  color: var(--background);
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  top: 2px;
}

button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: #333333;
  background-color: var(--text);
  border-color: #333333;
  border-color: var(--text);
  color: #fefefe;
  color: var(--background);
  outline: 0.1em dashed;
  outline-color: #333333;
  outline-color: var(--text);
  outline-offset: 0.1em;
}

.email-signup .email,
.email-signup .button {
  margin-top: 0.35em;
}

/* Blocks */
/* Horizontal navigation */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
}

.nav a {
  display: inline-block;
  margin-right: 0.5em;
}

.nav li {
  margin-top: 0;
}

.nav-item-active a {
  text-decoration-style: wavy;
}

.email-signup svg {
  vertical-align: middle;
}

/* Post Navigation */
.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em;
}

.pagination .older-posts {
  margin-right: auto;
}

.pagination .newer-posts {
  margin-left: auto;
}

.pagination a {
  display: inline-block;
  font-size: 1.1875rem;
  font-weight: 600;
  padding: 0.5em;
  text-decoration: none;
}

.pagination svg {
  vertical-align: middle;
}

/* Articles, notes & pages */
.article-content,
.note-content,
.page-content,
.resume-content {
  margin-top: 0.7em;
}

.article-content > h2 + *,
.note-content > h2 + *,
.page-content > h2 + *,
.article-content > h3 + *,
.note-content > h3 + *,
.page-content > h3 + *,
.article-content > h4 + *,
.note-content > h4 + *,
.page-content > h4 + * {
  margin-top: 0.7em;
}

.article-header img + *,
.note-header img + *,
.page-header img + * {
  margin-top: 1.4em;
}

.post-list {
  list-style: none;
  margin-left: 0;
}

.post-list > * + * {
  margin-top: 1.4em;
}

.post-list .post-link {
  display: inline-block;
}

.post-list .post-excerpt {
  margin-top: 0.35em;
}

/* Post meta */
.meta {
  margin-top: 0.35em;
  color: #666666;
  color: var(--lighttext);
  font-size: 0.8rem;
  font-style: italic;
}

.article-content .meta,
.note-content .meta {
  margin-top: 2.1em;
}

.tag-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
}

.meta a {
  color: #666666;
  color: var(--lighttext);
}

.meta a:hover,
.meta a:focus {
  background-color: #666666;
  background-color: var(--lighttext);
  color: #fefefe;
  color: var(--background);
}

.meta a:focus {
  outline-color: #666666;
  outline-color: var(--lighttext);
}

/* Containers */
.site-header,
.site-content,
.site-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 56.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding-top: 8em;
}

.site-navigation {
  align-self: center;
}

.site-navigation a {
  font-size: 1.1rem;
  font-weight: 700;
}

.site-content,
.site-footer {
  padding-top: 3em;
}

.site-footer {
  padding-bottom: 8em;
}

.site-footer small {
  color: #666666;
  color: var(--lighttext);
}

.article-header,
.note-header,
.page-header,
.article-content,
.note-content,
.page-content {
  max-width: 60ch;
}

/* Syntax highlighting */
/**
 * a11y-light theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

/*
 Theme
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #545454;
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.2;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.35em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fefefe;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #696969;
}

.token.punctuation {
  color: #545454;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #007299;
}

.token.boolean,
.token.number {
  color: #008000;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #aa5d00;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #008000;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #aa5d00;
}

.token.keyword {
  color: #d91e18;
}

.token.regex,
.token.important {
  color: #d91e18;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Line highlight */
.line-highlight {
  background: rgba(183, 134, 11, 0.075);
  border-top: 1px solid #b8860b;
  border-bottom: 1px solid #b8860b;
}

/* Line numbers */
.line-numbers .line-numbers-rows {
  border-right: 1px solid #aa5d00;
}

.line-numbers-rows > span:before {
  color: #696969;
}

/*
 High contrast mode support
*/
@media screen and (-ms-high-contrast: active) {
  code[class*="language-"],
  pre[class*="language-"] {
    color: windowText;
    background: window;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}

/* Going dark */
@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --background: #111111;
    --lighttext: #808080;
    --text: #cccccc;
    --decorative: #666666;
    --marklight: #222222;
    --markdark: #191919;
  }

  /**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

  /*
 Theme
 */
  code[class*="language-"],
  pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
      monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.35em 0;
    overflow: auto;
    border-radius: 0.3em;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #2b2b2b;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #d4d0ab;
  }

  .token.punctuation {
    color: #fefefe;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #ffa07a;
  }

  .token.boolean,
  .token.number {
    color: #00e0e0;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #abe338;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #00e0e0;
  }

  .token.atrule,
  .token.attr-value,
  .token.function {
    color: #ffd700;
  }

  .token.keyword {
    color: #00e0e0;
  }

  .token.regex,
  .token.important {
    color: #ffd700;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  /*
 Plugin support
 */

  /* Line highlight */
  .line-highlight {
    background: rgba(255, 217, 0, 0.1);
    border-top: 1px solid rgba(255, 217, 0, 0.55);
    border-bottom: 1px solid rgba(255, 217, 0, 0.55);
  }

  /* Line numbers */
  .line-numbers .line-numbers-rows {
    border-right: 1px solid #f8f8f2;
  }

  .line-numbers-rows > span:before {
    color: #d4d0ab;
  }

  /*
 High contrast mode support
*/
  @media screen and (-ms-high-contrast: active) {
    code[class*="language-"],
    pre[class*="language-"] {
      color: windowText;
      background: window;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
      background: window;
    }

    .token.important {
      background: highlight;
      color: window;
      font-weight: normal;
    }

    .token.atrule,
    .token.attr-value,
    .token.function,
    .token.keyword,
    .token.operator,
    .token.selector {
      font-weight: bold;
    }

    .token.attr-value,
    .token.comment,
    .token.doctype,
    .token.function,
    .token.keyword,
    .token.operator,
    .token.property,
    .token.string {
      color: highlight;
    }

    .token.attr-value,
    .token.url {
      font-weight: normal;
    }
  }
}

/* Print */
@media print {
  @page {
    margin: 0.5in;
  }

  .site-header,
  .site-footer,
  .pagination {
    display: none;
  }

  * {
    background: #fff !important;
    box-shadow: none !important;
    color: #000 !important;
    font-size: 16pt !important;
    text-shadow: none !important;
  }

  h1 {
    font-size: 24pt !important;
  }

  h2 {
    font-size: 20pt !important;
  }

  h3 {
    font-size: 18pt !important;
  }

  h4 {
    font-size: 16pt !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
  */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/
   * http://css-discuss.incutio.com/wiki/Printing_Tables
  */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  ul,
  ol {
    page-break-inside: avoid;
  }
}
