/* Variables */
:root {
  /* Colors */
  --background: #fffffe;
  --headline: #272343;
  --lighttext: #767676;
  --primary: #ffd803;
  --secondary: #e3f6f5;
  --text: #2d334a;

  /* Scale */
  --ratio: 1.2;
  --s-9: calc(var(--s-8) / var(--ratio));
  --s-8: calc(var(--s-7) / var(--ratio));
  --s-7: calc(var(--s-6) / var(--ratio));
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));
  --s9: calc(var(--s8) * var(--ratio));
  --line-height: 1.44;
  --line-height-small: var(--ratio);
  --measure: 60ch;
  --measure-wide: 90ch;
  /* Other stuff */
  --font-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --font-sans-serif: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-sans-serif-bold: CooperHewittBold, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-sans-serif-bold-italic: CooperHewittBoldItalic, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-sans-serif-bold-subset: CooperHewittBoldSubset, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-sans-serif-bold-italic-subset: CooperHewittBoldItalicSubset, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
  "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
  monospace;
  --border-thin: 1px;
  --border-thick: 2px;
  background-color: var(--background);
	color: var(--text);
	font-family: var(--font-serif);
  font-size: calc(0.65vw + 1em);
  font-weight: 400;
	line-height: var(--line-height);
}

/* Utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*  Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden;
}

.clear:before,
.clear:after {
  content: "";
	display: table;
	table-layout: fixed;
}

.clear:after {
  clear: both;
}

.callout {
	border: var(--border-thin) solid var(--lighttext);
  border-radius: var(--border-thin);
  padding: var(--s-1);
}

.intro {
	font-size: var(--s1);
}

/* Horizontal navigation abstraction. */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav a {
  display: inline-block;
}

/* Sidebar abstraction.
 every-layout.dev */
.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s3) / 2 * -1);
}

.with-sidebar > * > * {
  margin: calc(var(--s3) / 2);
  flex-grow: 1;
}

.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(55% - var(--s3));
}

/* Gallery/reel abstraction.
 every-layout.dev */
.reel {
  display: flex;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #fffffe #2d334a;
}

.reel::-webkit-scrollbar {
  height: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: #2d334a;
}

.reel::-webkit-scrollbar-thumb {
  background-color: #2d334a;
  background-image: linear-gradient(#2d334a 0, #2d334a 0.25rem, #fffffe 0.25rem, #fffffe 0.75rem, #2d334a 0.75rem);
}

.reel > * {
  flex: 0 0 auto;
}


.reel > img,
.reel > figure {
  height: 100%;
  flex-basis: auto;
  width: auto;
}

.reel > * + * {
  margin-left: 1rem;
}

.reel.overflowing {
  padding-bottom: 1rem;
}

body::before {
  border-left: var(--s-1) solid transparent;
  border-right: var(--s-1) solid transparent;
  border-top: var(--s-2) solid var(--text);
  content: "";
  display: block;
  height: 0;
  margin: 0 auto;
  width: 0;
}

body::after {
  border-left: var(--s-1) solid transparent;
  border-right: var(--s-1) solid transparent;
  border-bottom: var(--s-2) solid var(--text);
  content: "";
  display: block;
  height: 0;
  margin: 0 auto;
  width: 0;
}
