/* Variables */
:root {
  /* Colors */
  --background: #fffffe;
  --headline: #272343;
  --lighttext: #767676;
  --primary: #ffd803;
  --secondary: #e3f6f5;
  --text: #2d334a;

  /* Scale */
  --ratio: 1.2;
  --s-8: calc(var(--s-7) / var(--ratio));
  --s-7: calc(var(--s-6) / var(--ratio));
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));
  --line-height: 1.44;
  --line-height-small: var(--ratio);
  --measure: 60ch;
  /* Other stuff */
  --font-serif: "IBM Plex Serif", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --font-serif-bold: "IBM Plex Serif Bold", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --font-serif-italic: "IBM Plex Serif Italic", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --font-serif-bold-italic: "IBM Plex Serif Bold Italic", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --font-sans-serif: "IBM Plex Sans", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-sans-serif-bold: "IBM Plex Sans Bold", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-sans-serif-italic: "IBM Plex Sans Italic", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-sans-serif-bold-italic: "IBM Plex Sans Bold Italic", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --border-thin: var(--s-8);
  --border-thick: var(--s-4);
  background-color: var(--background);
	color: var(--text);
	font-family: var(--font-serif);
  font-size: calc(0.65vw + 1em);
  font-weight: 400;
	line-height: var(--line-height);
}

.fonts-stage-1 :root {
  font-family: "IBM Plex Serif Subset", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.fonts-stage-2 :root {
  font-family: var(--font-serif);
}

/* Utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*  Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden;
}

.clear:before,
.clear:after {
  content: "";
	display: table;
	table-layout: fixed;
}

.clear:after {
  clear: both;
}

.callout {
	border: var(--border-thin) solid var(--lighttext);
  border-radius: var(--border-thin);
  padding: var(--s-1);
}

.intro {
	font-size: var(--s1);
}

@supports not (scroll-snap-type) {
  .gallery {
    border: var(--border-thin) solid var(--text);
    height: 37.5rem;
    overflow-y: scroll;
    padding: 0 !important;
    scroll-snap-type: y mandatory;
  }

  .gallery figure {
    scroll-snap-align: start;
  }

  .gallery img {
    object-fit: contain;
    object-position: 0 0;
  }
}
